<% if (isHome) { %>
  <form action="/" class="item" id="myForm" method="POST">
<% } else { %>
  <form action="/work" class="item" id="myForm" method="POST">
<% } %>
    <div class="d-flex flex-row justify-content-center">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
  <button type="submit" name="add" class="add-button ms-2">+</button>
    </div>
  
</form>

