<%- include("partials/header.ejs") %>

<div class="container">
  <div class="title">
    <h2>
      Work List
    </h2>
  </div>
  <div class="form">
    <%- include("partials/form.ejs") %>
    
    <!-- Display added list items -->
    <% for(let workItem of locals.workList) { %>
      <div class="list">
        <input type="checkbox" name="checkbox">
        <span><%= workItem %></span>
      </div>
    <% } %>
    
  </div>
</div>

<%- include("partials/footer.ejs") %>